#detalles-empresa {
    border: solid black 1px;
    margin: 20px;
}

#detalles-empleo {
    background-color: #bfb7b7;
    margin: 20px;
    margin-top: 20px;
    padding-bottom: 10px;
}

#ofertas-relacionadas {
    background-color: #bfb7b7;
    margin: 20px;
}

img{
    width: 150px;
    height: 150px;
}