<div class="container">
    <div class="row">
        <div class="col">
            <div class="cursos-recientes">
                <h1 id="seccion-cursos-titulo">Continúa tus cursos</h1>
                <div class="container d-flex justify-content-center" id="container-cartas">
                    <div *ngFor="let carta of cartas">
                        <div class="card bg-secundario carta-conf">
                            <iframe 
                              src="https://www.youtube.com/embed/rEsSxd0L4GI" title="videoreciente" allowfullscreen>
                            </iframe>
                            <div class="card-body">
                                <div class="card-tittle">
                                    <h3 id="carta-titulo">{{carta.titulo}}</h3>
                                </div>
                                <div class="card-text">
                                    <h4 id="carta-texto">{{carta.texto}}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
                <div class="container m-3">
                    <button type="button" class="btn btn btn-primary">
                        <a [routerLink]="['/cursos']">Ver más cursos</a>
                    </button>
                </div>
            </div>
            <hr>
            <h1 id="ofertas-destacadas-titulo">Ofertas laborales destacadas</h1>
            <div class="container" id="contenedor-ofertas">
                <div *ngFor="let oferta of ofertas">
                  <hr>
                    <div class="container row border" id="ofertas">
                        <div class="col left-column">
                            <h1>{{oferta.titulo}}</h1>
                            <p>{{oferta.empresa}}</p>
                            <p>{{oferta.ubicacion}}</p>
                            <p>Hace {{oferta.tiempo}} minutos</p>
                        </div>
                        <div class="col col-lg-3 right-column mh-100">
                            <img src="assets/LogoCompania.png" alt="ejemplo" id="img-ofertas">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-5">
            <div class="container" id="container-principal">
                <div class="row mt-3 justify-content-center">
                    <div class="col-10 mt-5"> 
                      <div class="card bg-primario">
                        <div class="card-content">
                          <div class="card-body">
                            <div class="media d-flex">
                              <div class="align-self-center">
                                <span class="material-icons">
                                  edit_calendar
                                </span>
                              </div>
                              <div class="media-body text-left" id="texto-carta">
                                <h3>Has estudiado 2 horas esta semana.</h3>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-10 mt-4"> 
                      <div class="card bg-primario">
                        <div class="card-content">
                          <div class="card-body">
                            <div class="media d-flex">
                              <div class="align-self-center">
                                <span class="material-icons">
                                  done
                                </span>
                              </div>
                              <div class="media-body text-left" id="texto-carta">
                                <h3>Has estudiado 2 horas esta semana.</h3>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="container mt-5 text-center">
                    <button type="button" class="btn btn-outline-secondary" id="boton-certificados" [routerLink]="['/certificados']">Ver mis certificados</button>
                </div>
                <div class="container mt-5 text-center">
                    <button type="button" class="btn btn-outline-secondary" id="boton-certificados" [routerLink]="['/bolsa']">Ofertas laborales</button>
                </div>
            </div>
        </div>
    </div>
</div>