<div class="container" id="cursosterminados">
    <h1>Cursos Terminados</h1>
    <div class="container mt-3" align-items-stretch>  
        <div *ngFor="let carta of certificados">
            <div class="card-group mt-3">
                <div class="card">
                    <div class="card-body">
                        <img src="../../../../assets/certificadoej.jpg" alt="certificado">
                        <h3 class="card-title">{{carta.titulo}}</h3>
                        <button type="button" class="btn btn-primary" (click)="openScrollableContent(content)" data-toggle="modal" data-target=".bd-example-modal-lg">Certificado</button> 
                        <span class="material-icons">share</span>
                    </div>
                </div>          
            </div>
        </div>  
    </div>

 <hr>

<div class="container" id="otrosCursos">
    <h2>Otros Cursos</h2>
    <br>
    <div class="container mt-3 d-flex">
        <div *ngFor="let carta of otroscursos">
            <div class="card-body">
                <iframe src="https://www.youtube.com/embed/rEsSxd0L4GI" title="videoreciente" allowfullscreen></iframe>
                <div class="card-body" [routerLink]="['/inicio']">
                    <div class="card-title">
                        <h2>{{carta.titulo}}</h2>
                        <h3>{{carta.descripcion}}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<ng-template #content let-modal>
    <div class="modal-header">
      <button id="opciones">
        <img src="../../../../assets/certificadoej.jpg" alt="certificado">
        <span class="material-icons">
            file_download
        </span>
        <span class="material-icons">
            reply
        </span>
        <span class="material-icons">
            share
        </span>
      </button>
      
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
</ng-template>