<div class="container">
    <div class="row">
      <div class="col-lg-8">
        <img src="/assets/register.jpg">
      </div>
      <div class="col-lg-4">
        <form [formGroup]="formulario" (ngSubmit)="validacion()" novalidate>
          <div class="row">
            <h1>Registrarse</h1>
            <div class="col-6">
              <li>
                <label class="form-label">Nombres*</label>
                <input type="text" class="form-control" formControlName="nombres" placeholder="Nombres"
                [ngClass]="{
                  'is-invalid' : formulario.controls['nombres'].invalid && (formulario.controls['nombres'].dirty || formulario.controls['nombres'].touched),
                  'is-valid' : formulario.controls['nombres'].valid && (formulario.controls['nombres'].dirty || formulario.controls['nombres'].touched)
                }">
                <div class="alert alert-danger mt-3" *ngIf="formulario.controls['nombres'].invalid && (formulario.controls['nombres'].dirty || formulario.controls['nombres'].touched)">
                    <div *ngIf="formulario.controls['nombres'].hasError('required')">Este campo es obligatorio</div>
                    <div *ngIf="formulario.controls['nombres'].hasError('pattern')">Su nombre no debe contener numeros</div>
                </div>
              </li>
  
              <li>
                <label class="form-label">Email*</label>
                <input type="text" class="form-control" formControlName="email" placeholder="Email"
                [ngClass]="{
                  'is-invalid' : formulario.controls['email'].invalid && (formulario.controls['email'].dirty || formulario.controls['email'].touched),
                  'is-valid' : formulario.controls['email'].valid && (formulario.controls['email'].dirty || formulario.controls['email'].touched)
                }">
                <div class="alert alert-danger mt-3" *ngIf="formulario.controls['email'].invalid && (formulario.controls['email'].dirty || formulario.controls['email'].touched)">
                  <div *ngIf="formulario.controls['email'].hasError('required')">Este campo es obligatorio</div>
                  <div *ngIf="formulario.controls['email'].hasError('email')">Su email no tiene un formato valido.</div>
                </div>
              </li>
  
              <li>
                <label class="form-label">Contraseña*</label>
                <input type="password" class="form-control" formControlName="contraseña" placeholder="Contraseña"
                [ngClass]="{
                  'is-invalid' : formulario.controls['contraseña'].invalid && (formulario.controls['contraseña'].dirty || formulario.controls['contraseña'].touched),
                  'is-valid' : formulario.controls['contraseña'].valid && (formulario.controls['contraseña'].dirty || formulario.controls['contraseña'].touched)
                }">
                <div class="alert alert-danger mt-3" *ngIf="formulario.controls['contraseña'].invalid && (formulario.controls['contraseña'].dirty || formulario.controls['contraseña'].touched)">
                  <div *ngIf="formulario.controls['contraseña'].hasError('required')">Este campo es obligatorio</div>
                  <div *ngIf="formulario.controls['contraseña'].hasError('minlength')">La contraseña debe contener al menos 8 caracteres</div>
                </div>
              </li>
  
              <li>
                <label class="form-label">Documento*</label>
                <input type="text" class="form-control" formControlName="documento" placeholder="Documento"
                [ngClass]="{
                  'is-invalid' : formulario.controls['documento'].invalid && (formulario.controls['documento'].dirty || formulario.controls['documento'].touched),
                  'is-valid' : formulario.controls['documento'].valid && (formulario.controls['documento'].dirty || formulario.controls['documento'].touched)
                }">
                <div class="alert alert-danger mt-3" *ngIf="formulario.controls['email'].invalid && (formulario.controls['email'].dirty || formulario.controls['email'].touched)">
                  <div *ngIf="formulario.controls['email'].hasError('required')">Este campo es obligatorio</div>
                </div>
              </li>
            </div>
  
            <div class="col-6">
              <li>
                <label class="form-label">Apellidos*</label>
                <input type="text" class="form-control" formControlName="apellidos" placeholder="Apellidos"
                [ngClass]="{
                  'is-invalid' : formulario.controls['apellidos'].invalid && (formulario.controls['apellidos'].dirty || formulario.controls['apellidos'].touched),
                  'is-valid' : formulario.controls['apellidos'].valid && (formulario.controls['apellidos'].dirty || formulario.controls['apellidos'].touched)
                }">
                <div class="alert alert-danger mt-3" *ngIf="formulario.controls['apellidos'].invalid && (formulario.controls['apellidos'].dirty || formulario.controls['apellidos'].touched)">
                  <div *ngIf="formulario.controls['apellidos'].hasError('required')">Este campo es obligatorio</div>
                  <div *ngIf="formulario.controls['apellidos'].hasError('pattern')">Su apellidos no deben contener numeros</div>
                </div>
              </li>
  
              <li>
                <label class="form-label">Pais*</label>
                <br>
                <select class="custom-select"  formControlName="paises" placeholder="Pais" (change)="select($event.target)">
                    <option value="Seleccione" disabled>Seleccione</option>
                    <option *ngFor="let pais of paises" value="{{pais.isoCode}}">{{pais.name}}</option>
                </select>
              </li>
  
              <li>
                <label class="form-label">Ciudad*</label>
                <br>
                <select class="custom-select" formControlName="ciudades">
                    <option value="Seleccione" disabled>Seleccione</option>
                    <option *ngFor="let ciudad of ciudades">{{ciudad.name}}</option>
                </select>
              </li>
  
              <li>
                <label class="form-label">Telefono*</label>
                <input type="tel" class="form-control" formControlName="telefono" placeholder="Telefono" pattern="[+ 0-9]{9}"
                [ngClass]="{
                  'is-invalid' : formulario.controls['telefono'].invalid && (formulario.controls['telefono'].dirty || formulario.controls['telefono'].touched),
                  'is-valid' : formulario.controls['telefono'].valid && (formulario.controls['telefono'].dirty || formulario.controls['telefono'].touched)
                }">
                <div class="alert alert-danger mt-3" *ngIf="formulario.controls['telefono'].invalid && (formulario.controls['telefono'].dirty || formulario.controls['telefono'].touched)">
                  <div *ngIf="formulario.controls['telefono'].hasError('required')">Este campo es obligatorio</div>
                  <div *ngIf="formulario.controls['telefono'].hasError('pattern')">Su telefono debe ser de 9 digitos y no debe contener letras.</div>
                </div>
              </li>
            </div>
          </div>
  
          <li class="border-top pt-5">
            <label class="form-label">Sube aquí tu CV preferiblemente en formato pdf (Opcional).</label>
            <input type="file" class="form-control-file" formControlName="cv">
          </li>
  
          <li>
            <button type="submit" class="btn btn-success" [disabled]="!formulario.valid">Registrarse</button>
          </li>
          
        </form>
      </div>
    </div>
  </div>
  