.col-lg-4 {
    border: solid black 1px;
}

#otros_comentarios {
    margin: 5px;
    border-bottom: solid black 1px;
}

#test {
    display: flex;
    flex-wrap: wrap;
}

.card-body {
    background-color: lightgray;
    margin-bottom: 20px;
    text-align: center;
}