

<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <h1>{{CursoActual.titulo}}</h1>
            <input type="range" class="form-range" min="1" max="{{ModulosCurso.length}}" value="1" id="rangoModulo">
            <app-modulo-video [Modulo]="ModulosCurso[0]"></app-modulo-video>
        </div>
        <div class="col-lg-4">
            <div id="caja_escribir_comentario">
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Escribe un comentario" aria-label="Search">
                </form>
            </div>
            <div class="container" *ngFor="let comentario of comentarios" id="otros_comentarios">
                <p>{{comentario.autor}}</p>
                <p style="font-size: small;">{{comentario.contenido}}</p>
            </div>
        </div>
    </div>
</div>