h1{
    margin:10px;
    font-size: 20px;
}

h3{
    margin: 10px;
    font-size: 14px;
}

.media{
    border: 1px solid black;
    cursor: pointer;
    background: lightgrey;
}
  
img{
    width:120px; 
    height: 120px;
}

footer{
    padding: 10px;
}