
li {
    list-style: none;
}

h1{
    margin: 5px;
    text-align: center;
}

img{
    height : 100%;
    width: 100%;
}

input{
    border-radius: 5px;
    color: grey;
    padding: 6px;
}

button {
    background-color: darkblue;
    border-color: blue;
    color: white;
    border-radius: 5px;
}

button#registrate{
    color: black;
    background-color: white;
    border-color: black;
}

