#notificacion_individual {
    background-color: #bfb7b7;
    margin: 20px;
}

.img {
    align-self: center;
}

h5{
    padding:20px;
    margin-bottom: 20px;
}

p{
    padding:20px;
    font-size: small;
}